.login-form {
  text-align: center;
}
form {
  border: 2px solid gray;
  padding: 30px;
  border-radius: 5px;
}
.form-container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.label {
  font-size: 15px;
  padding: 10px;
}
.field-container {
  display: flex;
  justify-content: space-between;
}
.label-container {
  align-items: left;
}
.input-container {
  width: 50%;
}

.error-msg {
  font-size: 10px;
}
